.about-section {
  padding: 90px 50px;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  gap: 300px;
}

/* LEFT */
.about-avatar {
  size: 600px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  filter: drop-shadow(0 0 40px rgba(222, 186, 255, 0.6));
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* RIGHT */
.about-sub {
  color: #c4b5fd;
  margin-bottom: 8px;
}

.about-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 18px;

  background: linear-gradient(90deg, #a855f7, #d8b4fe);

  background-clip: text;            /* STANDARD */
  -webkit-background-clip: text;    /* WEBKIT */

  color: transparent;               /* STANDARD */
  -webkit-text-fill-color: transparent; /* WEBKIT */
}

.about-title span {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #a855f7;
  margin-top: 6px;
}

.about-desc {
  font-size: 17px;
  line-height: 1.8;
  opacity: 0.85;
  margin-bottom: 18px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin-bottom: 26px;
}

.about-list li {
  margin-bottom: 8px;
  font-size: 16px;
}

/* BUTTONS */
.about-actions {
  display: flex;
  gap: 16px;
}

.btn-outline,
.btn-primary {
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-outline {
  border: 1px solid #a855f7;
  color: #a855f7;
}

.btn-outline:hover {
  background: #a855f7;
  color: white;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
}

.btn-primary {
  background: linear-gradient(135deg, #9333ea, #7c3aed);
  color: white;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.8);
}

/* MOBILE */
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-actions {
    justify-content: center;
  }

  .about-avatar {
    margin: auto;
  }
}
